<p id="notice"><%= notice %></p>

<h1>Notices</h1>

<table>
  <thead>
    <tr>
      <th>Property</th>
      <th>User</th>
      <th>Subject</th>
      <th>Detail</th>
      <th>Publish at</th>
      <th>Expire at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notices.each do |notice| %>
      <tr>
        <td><%= notice.property %></td>
        <td><%= notice.user %></td>
        <td><%= notice.subject %></td>
        <td><%= notice.detail %></td>
        <td><%= notice.publish_at %></td>
        <td><%= notice.expire_at %></td>
        <td><%= link_to 'Show', notice %></td>
        <td><%= link_to 'Edit', edit_notice_path(notice) %></td>
        <td><%= link_to 'Destroy', notice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notice', new_notice_path %>
