<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @event.property %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @event.subject %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @event.detail %>
</p>

<p>
  <strong>Publish at:</strong>
  <%= @event.publish_at %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
